"" Base Settings
"" ========================================================

set scrolloff=10
set showmode
set showcmd

set ignorecase
set smartcase
set incsearch
set hlsearch
set nowrapscan

set visualbell

set easymotion
set notimeout

" Use system clipboard
set clipboard+=unnamed

" Set leader key
let mapleader = " "

" Show all vim keys
let g:WhichKey_ShowVimActions = "true"

"" Plugin Settings
"" ========================================================

set highlightedyank
let g:highlightedyank_highlight_color = "rgba(10, 92, 33, 100)"

set nerdtree

"" Which-key settings
set which-key
set timeoutlen=5000
let g:WhichKey_FontSize = 16
let g:WhichKey_CommandColor = "#A31515"
let g:WhichKey_PrefixColor = "#007F00"
let g:WhichKey_SortOrder = "by_key_prefix_first"

"" Peekaboo
set peekaboo

"" Handlers
"" ========================================================
sethandler <C-a> a:vim
sethandler <C-b> a:vim
sethandler <C-c> a:vim
sethandler <C-d> a:vim
sethandler <C-e> a:vim
sethandler <C-f> a:vim
sethandler <C-g> a:vim
sethandler <C-h> a:vim
sethandler <C-i> a:vim
sethandler <C-j> a:vim
sethandler <C-k> a:vim
sethandler <C-l> a:vim
sethandler <C-m> a:vim
sethandler <C-n> a:vim
sethandler <C-o> a:vim
sethandler <C-p> a:vim
sethandler <C-q> a:vim
sethandler <C-r> a:vim
sethandler <C-s> a:vim
sethandler <C-t> a:vim
sethandler <C-u> a:vim
sethandler <C-v> a:vim
sethandler <C-v> a:vim
sethandler <C-w> a:vim
sethandler <C-x> a:vim
sethandler <C-y> a:vim
sethandler <C-z> a:vim

"" Leader key mappings
"" ========================================================
nnoremap <leader>9 :source ~/.ideavimrc<CR>
let g:WhichKeyDesc_reload = "<leader>9 Reload ~/.ideavimrc"

" Refactoring
map <leader>rr <Action>(RenameElement)
map <leader>re <Action>(ExtractMethod)
map <leader>rv <Action>(IntroduceVariable)
map <leader>rf <Action>(IntroduceField)
map <leader>rc <Action>(ChangeSignature)
map <leader>rl <Action>(Refactorings.QuickListPopupAction)

let g:WhichKeyDesc_refactoring = "<leader>r [R]efactoring menu"
let g:WhichKeyDesc_refactoring_rename = "<leader>rr [R]ename element"
let g:WhichKeyDesc_refactoring_method = "<leader>re [E]xtract method"
let g:WhichKeyDesc_refactoring_variable = "<leader>rv Introduce [V]ariable"
let g:WhichKeyDesc_refactoring_field = "<leader>rf Introduce [F]ield"
let g:WhichKeyDesc_refactoring_signature = "<leader>rc [C]hange signature"
let g:WhichKeyDesc_refactoring_all = "<leader>rl Open refactorings [L]ist"

" Splits
nmap <leader>sr <Action>(RiderUnitTestRunContextAction)
nmap <leader>sd <Action>(MoveTabDown)
nmap <leader>sr <Action>(MoveTabRight)
nmap <leader>su <Action>(UnsplitAll)

let g:WhichKeyDesc_splits = "<leader>s [S]plits"
let g:WhichKeyDesc_splits_down = "<leader>sd Split and move tab [D]own"
let g:WhichKeyDesc_splits_right = "<leader>sr Split and move tab [R]ight"
let g:WhichKeyDesc_splits_unsplit_all = "<leader>su [U]nsplit all"

" Go to declaration
nmap <leader>d <Action>(GotoDeclaration)
let g:WhichKeyDesc_gotodeclaration = "<leader>d Go to [D]efinition"

" Go to implementation
nmap <leader>e <Action>(GotoImplementation)
let g:WhichKeyDesc_hoverinfo = "<leader>e Go to impl[E]mentation"

" Hover info
nmap <leader>k <Action>(ShowHoverInfo)
let g:WhichKeyDesc_hoverinfo = "<leader>k Hover info (sho[K] doc)"

" Tabs
nmap <leader>tp <Action>(PinActiveEditorTab)
nmap <leader>tc <Action>(CloseAllUnpinnedEditors)
nmap <leader>tx <Action>(CloseAllEditors)

let g:WhichKeyDesc_tabs = "<leader>t [T]abs"
let g:WhichKeyDesc_tabs_pin = "<leader>tp [P]in"
let g:WhichKeyDesc_tabs_close_all_but_pinned = "<leader>tc [C]lose all but pinned"
let g:WhichKeyDesc_tabs_close_all = "<leader>tx Close all (e[X]it)"

" Navigation
nmap <leader>nc <Action>(ActivateCommitToolWindow)
nmap <leader>ng <Action>(ActivateVersionControlToolWindow)
nmap <leader>nn <Action>(ActivateNuGetToolWindow)
nmap <leader>nt <Action>(ActivateUnitTestsToolWindow)
nmap <leader>ne <Action>(ActivateProjectToolWindow)

let g:WhichKeyDesc_navigation = "<leader>n [N]avigation"
let g:WhichKeyDesc_navigation_commit = "<leader>nc [C]ommit"
let g:WhichKeyDesc_navigation_git = "<leader>ng [G]it"
let g:WhichKeyDesc_navigation_nuget = "<leader>nn [N]uGet"
let g:WhichKeyDesc_navigation_tests = "<leader>nt [T]ests"
let g:WhichKeyDesc_navigation_explorer = "<leader>ne [E]xplorer"

" Go to code
nmap <leader>jd <Action>(GotoDeclaration)
nmap <leader>jy <Action>(GotoTypeDeclaration)
nmap <leader>ji <Action>(GotoImplementation)
nmap <leader>jb <Action>(GotoSuperMethod)
nmap <leader>ju <Action>(ShowUsages)
nmap <leader>jq <Action>(QuickImplementations)

let g:WhichKeyDesc_jumpto = "<leader>j [J]ump to..."
let g:WhichKeyDesc_jumpto_declaration = "<leader>jd [D]efinition"
let g:WhichKeyDesc_jumpto_type_declaration = "<leader>jy T[Y]pe Definition"
let g:WhichKeyDesc_jumpto_implementation = "<leader>ji [I]mplementation"
let g:WhichKeyDesc_jumpto_base = "<leader>jb [B]ase"
let g:WhichKeyDesc_jumpto_usages = "<leader>ju [U]sages"
let g:WhichKeyDesc_jumpto_quickimplementation = "<leader>jq [Q]uick Implementation"

" Git
nmap <leader>gb <Action>(Git.Branches)
nmap <leader>ga <Action>(Annotate)

let g:WhichKeyDesc_git = "<leader>g [G]it"
let g:WhichKeyDesc_git_branches = "<leader>gb [B]ranches"
let g:WhichKeyDesc_git_annotate = "<leader>ga [A]nnotate"

" Project
nmap <leader>ab <Action>(BuildSolutionAction)
nmap <leader>ar <Action>(Run)
nmap <leader>ad <Action>(Debug)
nmap <leader>as <Action>(Stop)

let g:WhichKeyDesc_project = "<leader>a Project ([A]ction)"
let g:WhichKeyDesc_project_build = "<leader>ab [B]uild"
let g:WhichKeyDesc_project_run = "<leader>ar [R]un"
let g:WhichKeyDesc_project_debug = "<leader>ad [D]ebug"
let g:WhichKeyDesc_project_stop = "<leader>as [S]top"

" Scratches
nmap <leader>wb <Action>(NewScratchBuffer)
nmap <leader>ws <Action>(Scratch.ShowFilesPopup)

let g:WhichKeyDesc_scratches = "<leader>w Scratches ([W]ork files)"
let g:WhichKeyDesc_scratches_show = "<leader>ws [S]how scratches"
let g:WhichKeyDesc_scratches_add_buffer = "<leader>wb New scratch [B]uffer"
let g:WhichKeyDesc_scratches_add_file = "<leader>wf New scratch [F]ile"

" EF Core
nmap <leader>ma <Action>(EfCore.Features.Migrations.AddMigrationAction)

let g:WhichKeyDesc_migration = "<leader>m EF Core ([M]igration)"
let g:WhichKeyDesc_migration_add = "<leader>ma [A]dd migration"

" Unit Testing
nmap <leader>qr <Action>(RiderUnitTestRunContextAction)
nmap <leader>qd <Action>(RiderUnitTestDebugContextAction)
nmap <leader>qa <Action>(RiderUnitTestRunSolutionAction)

let g:WhichKeyDesc_testing = "<leader>q Testing ([Q]A)"
let g:WhichKeyDesc_testing_run = "<leader>qr [R]un test at cursor"


let g:WhichKeyDesc_testing_debug = "<leader>qd [D]ebug test at cursor"
let g:WhichKeyDesc_testing_all = "<leader>qa Run [A]ll tests in solution"

" Comment line
map <leader>c <action>(CommentByLineComment)
let g:WhichKeyDesc_comment = "<leader>c [C]omment line"

" Rider-compatible bookmark functionality with <leader>B
nmap <leader>bt <Action>(ToggleBookmark)
nmap <leader>bs <Action>(ShowBookmarks)
nmap <leader>bn <Action>(GotoNextBookmark)
nmap <leader>bp <Action>(GotoPreviousBookmark)
nmap <leader>ba <Action>(ToggleBookmarkWithMnemonic)

let g:WhichKeyDesc_bookmarks = "<leader>b [B]ookmarks"
let g:WhichKeyDesc_bookmarks_toggle = "<leader>bt [T]oggle bookmark"
let g:WhichKeyDesc_bookmarks_show = "<leader>bs [S]how bookmarks"
let g:WhichKeyDesc_bookmarks_next = "<leader>bn [N]ext bookmark"
let g:WhichKeyDesc_bookmarks_previous = "<leader>bp [P]revious bookmark"
let g:WhichKeyDesc_bookmarks_add_mnemonic = "<leader>ba [A]dd mnemonic bookmark"

" Find/Search
nmap <leader>fe <Action>(SearchEverywhere)
nmap <leader>fc <Action>(GotoClass)
nmap <leader>ff <Action>(GotoFile)
nmap <leader>fs <Action>(GotoSymbol)
nmap <leader>fa <Action>(GotoAction)
nmap <leader>ft <Action>(TextSearchAction)
nmap <leader>fp <Action>(FindInPath)

let g:WhichKeyDesc_find = "<leader>f [F]ind/Search"
let g:WhichKeyDesc_find_everywhere = "<leader>fe Find [E]verywhere"
let g:WhichKeyDesc_find_class = "<leader>fc Find [C]lass"
let g:WhichKeyDesc_find_file = "<leader>ff Find [F]ile"
let g:WhichKeyDesc_find_symbol = "<leader>fs Find [S]ymbol"
let g:WhichKeyDesc_find_action = "<leader>fa Find [A]ction"
let g:WhichKeyDesc_find_text = "<leader>ft Find [T]ext"
let g:WhichKeyDesc_find_in_path = "<leader>fp Find in [P]ath"

" Jump between methods
nmap [[ <Action>(MethodUp)
nmap ]] <Action>(MethodDown)

"" Organize imports and format code
nmap <leader>o <Action>(OptimizeImports)
let g:WhichKeyDesc_optimize = "<leader>o [O]ptimize imports"

nmap <leader>i <Action>(AutoIndentLines)
let g:WhichKeyDesc_indent = "<leader>i Auto [I]ndent"

nmap <leader>p <Action>(ReformatCode)
let g:WhichKeyDesc_format = "<leader>p Format code ([P]retty)"

"" Custom mappings
"" ========================================================
" jk mapped to esc in Insert mode
inoremap jk <Esc>

" Esc to remove highlight
nnoremap <Esc> :nohlsearch<CR>

" Show marks
nmap <leader>` :marks<CR>

" Move lines up/down
nnoremap <A-j> :m .+1<CR>==
nnoremap <A-k> :m .-2<CR>==
vnoremap <A-j> :m '>+1<CR>gv
vnoremap <A-k> :m '<-2<CR>gv

" Better indenting in visual mode
vnoremap < <gv
vnoremap > >gv
